*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: arial;
}
.box{
    width: 100%; 
    display: flex;
}
.left-menu {
  position: sticky;       
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;          
  display: flex;
  flex-direction: column;
  padding: 30px 0px 0px 30px;
} 
.left-heading-sym{
    display: flex;
    margin-bottom: 60px;
}
.sym{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #0D9488;
    color: white;
}
.moduls{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.modul{
    display: flex;
    gap: 15px;
    margin: 20px 0px;
}
.boards{ 
    color: #0D9488;
}
.modul i{
    padding-top: 10px;
}
.modul p{
    font-size: 20px;
}
.about-details{
    display: flex;
    flex-direction: column;
    margin-top: 420px;
}

.main-body{
    width: 85%;
    background: whitesmoke;
}


/* nav-bar */
.nav-bar{
    display: flex;
    width: 100%; 
    justify-content: space-between;
    background: white;
    padding: 10px;

}
.serach-bars{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.search{
    height: 50px;
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    padding-left: 25px;
    font-size: 16px; 
    border: none;
    background: rgb(236, 243, 245);
}
.help-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
@media(max-width:768px){
    .nav-bar{ 
        display: flex; 
        justify-content: space-between; 
    }
    .filter-section{
        margin-top: 20px;
    }
}
.main-contain{
    padding: 40px; 
}
.sec-heading p{
    padding-top: 8px;
}
.sec-heading{
    grid-area: sec-heading;
}
.heading-section{ 
    display: flex;
    justify-content: space-between;
}
.filter-section{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 23px;
    grid-area: filter-section;
}

#priorityFilter {
   font-size: 20px;
  padding: 8px;
  border-radius: 6px;
  margin-left: 10px;
}

.column{
    margin-top: 30px;
}
.task-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "to-do in-progress completed other_information";
    margin-top: 70px;
    gap: 20px;
}
.to-do{
    grid-area: to-do;
}
.in-progress{
    grid-area: in-progress;
}
.completed{
    grid-area: completed;
}
.column-heading{ 
    font-size: 28px;
}

/* 4th column */
.count-container{
    display: flex;
    gap: 20px;
    margin-top: 20px ;
}
.state-box{ 
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 22px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}
.state-box:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.09);
}
.state-box.todocounts{
    background: #eef2ff;
    color: #3730a3;
    border-left: 5px solid #6366f1 ;
}
.state-box.progrescounts{
    background: #fff7ed;
    color: #c2410c;
    border-left: 5px solid #f97316;
}
.state-box.completedcounts{
    background: #ecfdf5;
    color: #065f46;
    border-left: 5px solid #10b981;
}
.state-box p{
    font-size: 14px;

}
 
.other-information{
    grid-area: other_information;
    margin-top: 5px;
    gap: 30px;
}
  
 /* recent-activity */
.recent-activity{ 
    margin-top: 35px;
    background: white;
    border-radius: 10px;
    padding: 20px;
}
.recent-heading{
    display: flex; 
    gap: 10px;
}
.recent-heading i{
    color: #0D9488;
}

.activity{
    display: flex;
    margin-top: 25px;
    gap: 10px;
}
.activity i{
    margin-top: 10px;
}
.time-comment{
    font-size: 12px;
}
.view-all-activity{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    color: #047b71;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    /* border: 1px solid black; */
}


/* card */
.card{ 
    padding: 25px;
    border-radius: 20px;
    background: white;
    margin-bottom: 20px;
}
.priority{ 
    width: 80px;
    padding: 4px 10px;
    font-weight: bold;  
}
.priority.high {
  border-left: 5px solid red;
}
.priority.medium {
  border-left: 5px solid orange;
}
.priority.low {
  border-left: 5px solid green;
}
.numb{
    background: lightgray;
    padding: 0px 4px;
    border-radius: 20px;
    font-weight: 300;
    font-size: 17px ;
    margin:0pc 0px 10px 5px; 
}
.priority-div{
    margin-bottom: 10px ;
    
}
.cad-heading{
    padding: 10px 0px;
    font-size: 25px;
}
.card-description{
    padding: 7px 0px;
}
.card-date-profile{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.card-date-profile p{
    font-size: 20px;
}
.create-task{
    padding: 10px;
    font-size: 20px;
    background: #0D9488;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 25px 0px;
    width: 250px;
    font-weight: bold; 
}
.create-task i{
    padding-right: 10px;
}

.task-heading-div{
    display: flex;
    justify-content: space-between;
}
@media(max-width : 1025px){
    .box{
        display: flex;
        justify-content: center;
    }
    .left-menu{
        position: none;
        display: none;
    }
    .task-columns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "to-do in-progress" "completed other_information";
    }
}
@media  (min-width : 768px) {
    .headings{
        display: none;
    }
}
@media(max-width:768px){
    .task-columns{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "to-do" "in-progress" "completed" "other_information";
    }
    .main-body{
        /* padding: 0px; */
        width: 100%;
    }
    .serach-bars{
        display: none;
    }
    .heading-section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas :  "sec-heading" "filter-section";
    }
}

 
/* form */
.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 
.hidden {
  display: none;
}


/* inforamtion form*/
.modal-box {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  position: relative;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: popup 0.3s ease;
}

/* Animatation  */
@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* close btn */
#closeBtn {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

#closeBtn:hover {
  color: red;
}


/* form inoputs */
.modal-box input,
.modal-box textarea,
.modal-box select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;

  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.modal-box input:focus,
.modal-box textarea:focus,
.modal-box select:focus {
  border-color: #0D9488;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* claER btn*/
#clearBtn {
  background: #e5e7eb;
}

#clearBtn:hover {
  background: #d1d5db;
}
/* submit btn */
.actions button[type="submit"] {
  background: #0D9488;
  color: white;
}

.actions button[type="submit"]:hover {
  background: #0f766e;
}

.modal-box h2{
    margin-bottom: 10px;
}
 